*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: arial, sans-serif;
	line-height: 1.6;
}
.container{
	padding: 80px 10%;
	text-align: center;

}
header{
	background: #111;
	color: white;
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 20px 10%;
	background: #111;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.nav-links{
	list-style: none;
	display: flex;
	gap: 20px;
}
.logo{
	color: white;
}
.hero{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(135deg,#4e73df,#1cc88a);
	color: white;
}
.profile-img{
	width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
	border: 4px solid white;

}
.btn{
	display: inline-block;
	padding: 10px 20px;
	background: white;
	color: black;
	margin-top: 15px;
	text-decoration: none;
}
.primary{
	background: white;
	color: #4e73df;
}
.projects{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
	gap: 20px;
}
.card{
background: #f4f4f4;
padding: 25px;
border-radius: 15px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 1.0);
transition: 0.3s;
}
.card:hover{
transform: translateY(-10px);
}
.skill{
	margin:20px 0;
	text-align: left;
}
.progress{
	background: #ddd;
	border-radius: 20px;
	overflow: hidden;
}
.progress div{
	height: 10px;
	background: #4e73df;
}
.calc{
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 300px;
}
.calc button{
	padding: 10px;
	width: 22%;
	border: none;
	background: #4e73df;
	color: white;
	cursor: pointer;
	border-radius: 5px;

} 
.calculato{
	max-width: 350px;
	margin: auto;
}
.calculator input{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

footer{
	background: #111;
	color: white;
	text-align: center;
	padding:20px ;
}
@media(max-width: 769px){
	.nav-links{
		flex-direction: column;
		text-align: center;
	}
}
#contact{
	background: #f8f9fc;

}
#contact form{
	max-width: 500px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 1.0);
}
#contact input,
#contact textarea{
	padding: 12px 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 14px;
	font-family: inherit;
	transition: 0.3s ease;
	outline: none;
}
#contact input:facus,
#contact textarea:focus{
	border-color: #4e73df;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 1.0);
}
#contact button{
	padding: 12px;
	background: #4e73df;
	color: white;
	border: none;
	border-radius: 8px;
	font-weight: 500px;
	cursor: pointer;
	transition: 0.3e ease;
}
#contact button:hover{
	background:#2e59d9;
	transition: translateY(-2px);
}
@media (max-width: 600px){
	#contact form{
		padding: 20px;
	}
}
